/**
 * ANIMATIONS
 */

//-----------------------------------------------
// ANIMATIONS: FADE INS
//-----------------------------------------------
.fadein {
	animation: fadein 650ms ease-in-out;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeinup {
	animation: fadeinup 650ms ease-in-out;
}

@keyframes fadeinup {
	0%,
	10% {
		opacity: 0;
		transform: translateY(4.8rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeindown {
	animation: fadeindown 650ms ease-in-out;
}

@keyframes fadeindown {
	0%,
	10% {
		opacity: 0;
		transform: translateY(-4.8rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeinleft {
	animation: fadeinleft 650ms ease-in-out;
}

@keyframes fadeinleft {
	0%,
	10% {
		opacity: 0;
		transform: translate(4.8rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.fadeinright {
	animation: fadeinright 650ms ease-in-out;
}

@keyframes fadeinright {
	0%,
	10% {
		opacity: 0;
		transform: translate(-4.8rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

//-----------------------------------------------
// ANIMATIONS: WIGGLE
//-----------------------------------------------
.wiggle {
	animation: wiggle 3s linear infinite;
}

@keyframes wiggle {
	0%,
	40% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(-15deg);
	}

	54% {
		transform: rotate(10deg);
	}

	58% {
		transform: rotate(-10deg);
	}

	62% {
		transform: rotate(6deg);
	}

	66% {
		transform: rotate(-4deg);
	}

	70%,
	100% {
		transform: rotate(0);
	}
}

//-----------------------------------------------
// ANIMATIONS: ZOOMS
//-----------------------------------------------
.zoomin {
	animation: zoomin 650ms ease-in-out;
	will-change: transform;
}

@keyframes zoomin {
	0%,
	20% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
