{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"env": {
		"browser": true
	},
	"globals": {
		"Splide": "readonly"
	},
	"ignorePatterns": [ "build/", "*.min.js" ],
	"rules": {
		"prettier/prettier": [ "error", { "printWidth": 120 } ]
	}
}
