{
	"extends": [ "@wordpress/stylelint-config/scss-stylistic" ],
	"ignoreFiles": [ "**/*.min.js", "**/*.min.css", "build/**" ],
	"rules": {
		"@stylistic/declaration-colon-newline-after": null,
		"@stylistic/function-parentheses-space-inside": "never-single-line",
		"@stylistic/indentation": [
			"tab",
			{
				"ignore": [ "inside-parens" ]
			}
		],
		"@stylistic/max-line-length": 120,
		"at-rule-empty-line-before": [
			"always",
			{
				"except": [ "blockless-after-same-name-blockless", "first-nested" ],
				"ignore": [ "after-comment" ]
			}
		],
		"comment-empty-line-before": [
			"always",
			{
				"except": [ "first-nested" ],
				"ignoreComments": [ "prettier-ignore" ]
			}
		],
		"rule-empty-line-before": [
			"always",
			{
				"except": [ "first-nested", "after-single-line-comment" ]
			}
		],
		"scss/operator-no-newline-after": null,
		"selector-class-pattern": [
			"^[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
			{
				"message": "Expected BEM naming convention for class."
			}
		]
	}
}
